/* start of menu top bar and menu bar css */

.menu-top {
    background-color: green;
    color: white;
    height: 20px;
    font-weight: bold;
}

.timeanddate {
width: 50%;
float: left;
text-align: center;
}

.phoneandaddress {
width: 50%;
float: right;
text-align:center;
}

.menu {
    height: 50px;
    font-weight: bolder;
    align-content: center;
}

.menu-logo {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 30px;
}

.menu-link {
    width: 50%;
    float: right;
    text-align:center;
    padding-top: 10px;
    color:white;

}

.menu-link span {
    margin: 10px;
    padding: 8px;
    background-color: green;
    border-radius: 6%;
}

.menu-link span a {
    text-decoration: none;
    color: white;
}

/* end of menu top bar and menu bar css */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
  form {
    margin-top: 20px;
  }
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }






/* Footer css */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }